body{
    background-color: rgb(232, 226, 226);
}

#list {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    width: 90px;
    height: 120px;
    background-color: #eebd82;
    float: left;
    margin-left: 150px;
}

h1{
    font-family: fantasy;
    font-size: 70px;
    text-shadow: -2px -4px 4px rgb(189, 146, 65);
}

table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    display: table;
    float: right;
    margin-right: 80px;
    caption-side: bottom;
}

form{
    padding: 20px;
    border: 2px solid rgb(189, 146, 65);
    width: 450px;
    clear: both;
}