body{
    background-color: rgb(232, 226, 226);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    display: table;
    float: right;
    margin-right: 80px;
    caption-side: bottom;
}

form{
    padding: 20px;
    border: 2px solid rgb(189, 146, 65);
    width: 450px;
    clear: both;
}